**/node_modules/**
**/build/**
**/coverage/lcov-report/**
**/tech/flow-declarations/**
**/diagnosis/customer-server/release/**
**/diagnosis/customer-server/dist/**
**/ski-diag-customer/widget/dist/**
**/ski-diag-customer/widget/build/**
**/backend/**
**/travel-diag/agency/**
**/travel-diag/customer/widget/dist/**
**/travel-diag/customer/widget/build/**
**/travel-diag/customer/widget-bourse-des-vols/dist/**
**/travel-diag/customer/widget-bourse-des-vols/build/**
**/back-office/dist/**
**/back-office/build/**
**/comparator/**
flow-typed/**/*
